body {
    background-color: #f7f8f9;
}


.logo a {
    color: #3b4351;
}

.logo a:hover {
    text-decoration: none;
}

.header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.header i {
    margin-right: .5rem;
}

.footer {
    padding: 2rem;
}

.avatar.avatar-xxl {
    font-size: 3rem;
    height: 8rem;
    width: 8rem;
}

.btn.btn-action {
    border-style: hidden;
    background-color: inherit;
}

.btn.btn-action:hover {
    border-style: solid;
}

.menu .menu-item .menu-item-content {
    border-radius: .1rem;
    color: inherit;
    display: block;
    margin: 0 -.4rem;
    padding: .2rem .4rem;
    text-decoration: none;
}

.menu .menu-item .menu-item-content:focus,
.menu .menu-item .menu-item-content:hover {
    background: #f1f1fc;
    color: #5755d9;
}